body{
    background-color: wheat;
}
.diagonal{
    width: 100%;
    background: #FF902F;
    color: white;
    /* clip-path: polygon(0 0, 100% 0, 100% 28%, 0 61%); */
    padding: 10rem 1%;
    background-size: cover;
    margin: -10px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(243, 236, 224);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main{
    background-color: whitesmoke;
    border: 2px solid grey;
    margin: 0 auto;
    width: 178px;
    border-radius: 5px;
    
}
.screen{
    margin: 1px;
    width: 96%;
    height: 30px;
    background-color: #EDEDED;
    border: none;
}
.row{
    margin: 1px;
    padding: 1px;
}

.btn{
    background-color: #EDEDED;
    width: 40px;
    height: 30px;
    margin: 0px;
    border-radius: 8px;
    border: none;
}
.btn:hover, .clearBtn:hover, .doubleBtn:hover{
    background-color: #FFC92B;
    color: white;
}
.clearBtn{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    border: none;
}
.doubleBtn{
    width: 85px;
    margin: 0px;
    height: 30px;
    border-radius: 8px;
    border: none;
}
.orange{
    background-color: #FFC92B;
}